{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block styles %}
<style>
    /* Стили, специфичные для страницы логина, могут быть добавлены здесь */
    body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .login-form {
            background-color: white;
            margin-top: -400px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .login-form h2 {
            text-align: center;
            color: #333;
        }
        .login-form button {
            background-color: #2745f1;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            width: 100%;
        }
        .login-form button:hover {
            background-color: #4e7e94;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
    /* Остальные стили, которые были указаны ранее */
</style>
{% endblock %}

{% block content %}
<div class="login-form">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.login.label }}
            {{ form.login }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
